<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Classrooms</title>
    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- MAP dependencies -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <!-- OUR Internal CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>

<body>
    <div class="top_left" background=>
        <h1 style="font-family:Brush Script MT" style="font-size:100px">
            WIREBARK
        </h1>
        <img src='../static/wirebark1.png' height="180" width="180">
    </div>
    <div class="container">

        <div class="row justify-content-center">

            <h2 class="display-2 d-flex">Choose the number of the Classroom (1-100):</h2>

            <div class="button-box col-lg-8">
                <a href="mylink.php" class="btn btn-primary" role="button">SENSOR#1</a>
                <a href="mylink.php" class="btn btn-primary" role="button">SENSOR#2</a>
                <a href="mylink.php" class="btn btn-primary" role="button">SENSOR#3</a>
                <a href="mylink.php" class="btn btn-primary" role="button">SENSOR#4</a>
                <a href="mylink.php" class="btn btn-primary" role="button">SENSOR#5</a>
                <a href="mylink.php" class="btn btn-primary" role="button">SENSOR#6</a>
            </div>
        </div>
    </div>
    <div id="map">
        <script>
            var map = L.map('map').setView([56.12, 10.16], 13);

            L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=25GqmgtwruyjOSuODtXo', {
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a> &copy; WireBark',
            }).addTo(map);

            {% for data in data_a%}
            var marker = L.marker([{{data.lat}}, {{data.lon}}]).addTo(map);
            marker.bindPopup(
                "<b>/{{data.name}}&nbsp;<span id='m_status' style='color:{%if data.status == 'ONLINE'%}green{% else %}red{%endif%};'>{{data.status}}</span></b><hr>Last measurement: {{data.datetime}}<br><br><table border='1' id='m_border'><tbody><tr><td>TEMP</td><td>HUM</td><td>LIGHT</td></tr><tr><td>{{data.temp}}</td><td>{{data.hum}}</td><td>{{data.light}}</td></tr></tbody></table><br>"
                );
            {% endfor %}

        </script>

</body>
</html>
