<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Classrooms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<style>
    .top_left {
        position: absolute;
        top: 8px;
        left: 16px;
    }

    body {
        background-image: url('../static/cool-background (3).png');
    }
</style>

<body>
    <div class="top_left">
        <h1 style="font-family:Brush Script MT" style="font-size:100px">
            WIREBARK
        </h1>
        <img src='../static/wirebark1.png' height="180" width="180">

    </div>
    <div class="container">

        <div class="row justify-content-center">
            <h2 class="display-2 d-flex">Data from #{{data.name}}</h2>
        </div>

        <hr>
        <div class="row justify-content-center">

        </div>


        <div class="row p-5">

            <div class="col">
                <p class="font-weight-bold">Latitude </p>
                <p class="font-weight-bold text-primary">{{data.lat}}</p>
            </div>

            <div class="col">
                <p class="font-weight-bold">Longitude</p>
                <p class="font-weight-bold text-primary">{{data.lon}}</p>
            </div>

            <div class="col">
                <p class="font-weight-bold">Date & Time</p>
                <p class="font-weight-bold text-primary">{{data.datetime}}</p>
            </div>


            <div class="col">
                <p class="font-weight-bold">Temperature </p>
                <p class="font-weight-bold text-primary">{{data.temp}}</p>
            </div>

            <div class="col">
                <p class="font-weight-bold">Humidity</p>
                <p class="font-weight-bold text-primary">{{data.hum}} %</p>
            </div>

            <div class="col justify-content-center">
                <p class="font-weight-bold">Light intensity</p>
                <p class="font-weight-bold text-primary"> {{data.light}} lux</p>
            </div>


        </div>
        <div>

        <select  onchange="choice(this.value)">
            <option value='temp10'>Temperature 10 </option>
            <option value='temp20'>Temperature 20 </option>
            <option value='temp30'>Temperature 30 </option>
            <option value='hum10'>Humidity 10 </option>
            <option value='hum20'>Humidity 20 </option>
            <option value='hum30'>Humidity 30 </option>
            <option value='light10'>Light intensity 10 </option>
            <option value='light20'>Light intensity 20 </option>
            <option value='light30'>Light integrity 30 </option>
            <option value='temp&hum10'>Temperature & Humidity 10 </option>
            <option value='temp&hum20'>Temperature & Humidity 20 </option>
            <option value='temp&hum30'>Temperature & Humidity 30 </option>
        </select>
    </div>

            <hr>
            <div class="row justify-content-center">

            </div>
        <div width= "400" height="400">
            <canvas id="myChart"></canvas>
        </div>

    </div>
<script>
    function choice(graph_choice){
        if (graph_choice =='temp10'){
            window.location.href = "http://127.0.0.1:5000/sensor1/temp10";
            }
        else if (graph_choice =='temp20'){
                window.location.href = "http://127.0.0.1:5000/sensor1/temp20";
            }
        else if (graph_choice =='temp30'){
                window.location.href = "http://127.0.0.1:5000/sensor1/temp30";
            }
        else if (graph_choice =='hum10'){
                window.location.href = "http://127.0.0.1:5000/sensor1/hum10";
            }
        else if (graph_choice =='hum20'){
                window.location.href = "http://127.0.0.1:5000/sensor1/hum20";
            }
        else if (graph_choice =='hum30'){
                window.location.href = "http://127.0.0.1:5000/sensor1/hum30";
            }
        else if (graph_choice =='light10'){
                window.location.href = "http://127.0.0.1:5000/sensor1/light10";
            }
        else if (graph_choice =='light20'){
                window.location.href = "http://127.0.0.1:5000/sensor1/light20";
            }
        else if (graph_choice =='light30'){
                window.location.href = "http://127.0.0.1:5000/sensor1/light30";
            }
        else if (graph_choice =='temp&hum10'){
                window.location.href = "http://127.0.0.1:5000/sensor1/temp&hum10";
            }
        else if (graph_choice =='temp&hum20'){
                window.location.href = "http://127.0.0.1:5000/sensor1/temp&hum20";
            }
        else if (graph_choice =='temp&hum30'){
                window.location.href = "http://127.0.0.1:5000/sensor1/temp&hum30";
            }
        }
        $(document).ready(function(){
            var time_Array = {{dates|safe}};
            var humidity_Array = {{humidities}};
            var temperature_Array = {{temperatures}};
            var light_Array = {{lights}};


            var ctx = document.getElementById ('myChart');
            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: time_Array,
            datasets: [{
            label: 'Humidity',
            data: humidity_Array,
            borderColor: 'rgba(255,0,0,0.6)'
        },{
            label: 'Temperature',
            data: temperature_Array,
            borderColor: 'rgb(255,204,0)'
        },{
            label: 'Light intensity',
            data: light_Array,
            borderColor:'rgb(0,153,255)'
        }]
    },

             options: {
             scales: {
                 yAxes: [{
                     ticks: {
                         beginAtZero:true
                     }
                 }],
                 xAxes: [{
                     type: 'time',
                     time: {
                         parser: 'DD-MM-YYYY HH:mm',
                         unit: 'minute',
                         displayFormats: {
                             'minute': 'DD-MM-YYYY HH:mm',
                             'hour': 'DD-MM-YYYY HH:mm'
                         }
                     }
                 }]
             }
            }
            });
            });
</script>


</body>

</html>
</html>
