/*WireBark CSS*/
body.main {
    background-image: url('cool-background.png');
}

body.sensor {
    background-image: url('cool-background-2.png');
}

.top_left {
    position: absolute;
    top: 8px;
    left: 16px;
}

#sensor-bck {
    background-color: rgb(230,230,253,0.8);
}

#wirebark {
    font-family: Brush Script MT;
}

/* Main page btns dnt tch */
#btn {
    margin-right: 5px;
}

/* Map stuff plz dnt tch */
#map {
    margin: auto;
    margin-top: 50px;
    width: 600px;
    height: 400px;
}

#m_status {
    float: right;
}

#m_border {
    margin-left: auto;
    margin-right: auto;
}
